.header {
  .header__container {
    padding: 0px 75px 0px 75px;

    .header__content {
      display: flex;
      justify-content: space-between;

      .header__wrapper a {
        display: block;

        .header__logo {
          width: 100px;
        }
      }
    }
  }
}
